@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
}

img {
    border-radius: 8px;
}

.post {
    width: 100%;
    max-width: 1000px;
}

.header__inner {
    max-width: 100%;
    width: 960px;
}
